// Override this file to add your own SCSS styling.
.callout {
	font-size: 1.25em;
}

.summary-text {
  line-height: 1.7;
  font-size: 17px;
  text-align: justify;
}

.navbar {
  font-size: 0.9em;
}

.hero-title {
  color: #E1E1E1;
}

p#hero-lead {
  color: #414141;

}

.r {
    background-color: #e8e8e8;
    font-size: 0.8em;
    border-left: 5px solid #FC6464;
  }
