// Override this file to add your own SCSS styling.
/*************************************************
 *  custom additions
 **************************************************/
 @import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');


.callout {
	font-size: 1.15em;
}

.summary-text {
  line-height: 1.55;
  font-size: 1.05em;
}

/*************************************************
 *  Change from assets/scss/academic/_root.scss
 **************************************************/
.hero-title {
  color: #E1E1E1;
}

p#hero-lead {
  color: #414141;
}

/*************************************************
 *  Change From assets/scss/academic/_nav.scss
 **************************************************/
 .navbar {
   font-size: 0.9em;
 }

.navbar-brand img {
	 max-height: 40px;
}


/*************************************************
 *  Custom add to assets/scss/academic/_root.scss
 *  Several choices for boxes and callouts: warning,
 * question, alert, info, and synopsis box.
 * From "Article Alerts (Shortcode) and Asides (Mmark)"
 **************************************************/

/* Style asides as Bootstrap alerts. */
.article-style aside {
  @extend .alert;
}

/* Asides use <p> block element whereas alerts use <div>. */
.article-style aside p,
div.alert > div {
  position: relative;
  display: block;
  font-size: 1rem;
  margin-left: 2rem;
  margin-top: 0;
  margin-bottom: 0;
}

div.alert div > * {
  margin-bottom: .5rem;  /* Use smaller paragraph spacing than usual. */
}

div.alert div > :last-child {
  margin-bottom: 0;
}

.article-style aside p::before,
div.alert > div:first-child::before {
  position: absolute;
  top: -0.5rem;
  left: -2rem;
  font-size: 1.5rem;
  color: #209cee;
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  content: '\f05a';
  width: 1.5rem;
  text-align: center;
}

div.alert-question > div:first-child::before {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  color: #FC766A;
  content: '\f059';
}

.alert-question {
  color: #FC766A;
  background-color: #fbf5f5;
  border-color: #FC766A;
	border-left-width: 1rem;
}

div.alert-warning > div:first-child::before {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  color: #ff3860;
  content: '\f071';
}

.alert-warning {
  color: #cd0930;
  background-color: #fff5f7;
  border-color: #ff3860;
	border-left-width: 1rem;
}

div.alert-synopsis > div:first-child::before {
  font-family: 'Font Awesome 5 Free';
  font-weight: 0;
  color: #ff3860;
  content: '';
}

div.alert-synopsis > div {
  margin-left: 0.1rem;
}

.alert-synopsis {
	color: #34495EFF;
	font-family: 'Nunito Sans';
	background-color: #F2F2F2FF;
	border-color: #7c7c7cFF;
	border-radius: 15px;
	/*border-left-width: 30px;*/
	margin-bottom: 2rem;
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
	padding-left: -1rem;
}

.article-style aside a,
div.alert a {
  color: currentColor;
  text-decoration: none;
  border-bottom: solid 1px currentColor;
}

.article-style aside,
.alert-note {
  color: #12537e;
  background-color: #f6fbfe;
  border-color: #209cee;
	border-left-width: 1rem;
	margin: 10px 0px;
}

/*************************************************
 *  Change From assets/scss/academic/_widgets.scss
 **************************************************/
.wg-hero.dark .hero-note > * {
  color: #FAFAFA;
  /*text-shadow: 1px 1px 4px rgba(0,0,0,0.5);*/ /* Uncomment to standout on complicated backgrounds. */
}

.wg-hero.dark a:not(.wg-hero .btn) {
  color: #FAFAFA;
}


/*************************************************
 * Button size override
 * Change from assets/scss/academic/_root.scss
 *************************************************/

.btn {
  padding: .5rem;
  font-size: 1rem;
  line-height: .5;
  border-radius: .3rem;
}

/*************************************************
 * Footer
 * Change from assets/scss/academic/_root.scss
 **************************************************/

footer p {
  font-size: 0.9rem;
  text-align: center;
}

/*************************************************
*  Change from assets/scss/academic/_root.scss
**************************************************/
/*************************************************
* This is my attempt to modify the "github"
* highlight_style which I think comes from here:
* https://github.com/highlightjs/highlight.js/blob/master/src/styles/github.css
**************************************************/

/* controls code block with NO language i think */
/* But not needed with Github style below */
/**************************************************/

/*.r {
    background-color: #e8e8e8;
    font-size: 1em;
    border-left: 5px solid #FC6464;
  } */

/* Use these to make language specific styles. */
/* Need to add style name to params.toml under highlight_languages */
/**************************************************/

/*
code.language-bash.hljs {
    font-size: 1em;
    border-left: 7px solid #FC6464;
  }
*/

/*
code.language-r.hljs {
    font-size: 1em;
    border-left: 7px solid #FC6464;
  }
*/

/* controls only single tick code i think */
code {
  font-family: $sta-font-mono, monospace;
  color: #c7254e;
  background-color: #f9f2f4;
	font-size: 0.8em;
}

/*************************************************
* Messing with Github style. begins here
**************************************************/

/*
github.com style (c) Vasily Polovnyov <vast@whiteants.net>
*/

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  color: #333;
  background: #f8f8f8;
	border-left: 6px solid #2962ff;
	border-top: 0.5px solid #333332;
	border-bottom: 0.5px solid #333332;
	border-right: 1px solid #333332;
	border-radius: 4px;
}

.hljs-comment,
.hljs-quote {
  color: #998;
  font-style: italic;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-subst {
/*  color: #333; */
  font-weight: bold;
}

.hljs-number,
.hljs-literal,
.hljs-variable,
.hljs-template-variable,
.hljs-tag .hljs-attr {
  color: #008080;
}

.hljs-string,
.hljs-doctag {
  color: #FC6464;
}

.hljs-title,
.hljs-section,
.hljs-selector-id {
  color: #900;
  font-weight: bold;
}

.hljs-subst {
  font-weight: normal;
}

.hljs-type,
.hljs-class .hljs-title {
  color: #458;
  font-weight: bold;
}

.hljs-tag,
.hljs-name,
.hljs-attribute {
  color: #000080;
  font-weight: normal;
}

.hljs-regexp,
.hljs-link {
  color: #009926;
}

.hljs-symbol,
.hljs-bullet {
  color: #990073;
}

.hljs-built_in,
.hljs-builtin-name {
  color: #0086b3;
}

.hljs-meta {
  color: #999;
  font-weight: bold;
}

.hljs-deletion {
  background: #fdd;
}

.hljs-addition {
  background: #dfd;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}
/* Github style ENDS here */

/*************************************************
*  code for side by side krona plot
**************************************************/

.column {
  float: left;
  width: 50%;
  padding: 5px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}

div.krona {
  width: 100%;
	height: 90%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
	margin-top: 5px;
}

div.container-krona {
  text-align: center;
  padding: 1px 10px;
	color: #414141;
	font-size: 1.48em;
	line-height: 0.8em;
	font-family: 'Inconsolata';
}

div.container-krona p {
	margin-bottom: 0px;
	}

blockquote p {
	font-size: 1.3em;
	font-family: 'Lato';
}
