// Override this file to add your own SCSS styling.
.callout {
	font-size: 1.25em;
}

.summary-text {
  margin-left: 200px;
  margin-right: 200px;
  line-height: 1.7;
  font-size: 17px;
  text-align: justify;
}

.navbar {
  font-size: 0.9em;
}

.hero-title {
  color: #E1E1E1;
}

p#hero-lead {
  color: #414141;

}
