// Override this file to add your own SCSS styling.
.callout {
	font-size: 1.25em;
}

.summary-text {
  line-height: 1.7;
  font-size: 17px;
  text-align: justify;
}


.hero-title {
  color: #E1E1E1;
}

p#hero-lead {
  color: #414141;

}
